{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
  .lic {
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
  }
  .btn1{
    height: 55px;
  }
  ::placeholder{
    color:black !important;
  }
</style>
<div class="row heading">
  <div class="text-center fs-3">Sign <b class="text-mycolor1">In <i class="fa-solid fa-key fa-spin"></i></b>
  <hr class="w-25 mx-auto">
Please Login and go to your Dashboard
  </div>
</div>
<!--end heading-->
<div class="row">
  <div class="col-sm-7  mx-auto">
  <form method="post">
    {% csrf_token %}
  <div clas="row">
  <div class="col-sm-6 mx-auto mt-3 mb-3 p-4 shadow-lg ">
    User :
    <div class="input-group mb-3 shadow-lg">
      <i class="input-group-text">
        <i class="fa-solid fa-user lic bg-mycolor1 text-light"></i>
      </i>
      <input type="email" name="email" class="form-control " required placeholder="userid"/>
    </div>
    Password :
    <div class="input-group mb-3 shadow-lg">
      <i class="input-group-text">
        <i class="fa-solid fa-key lic bg-mycolor1 text-light"></i>
      </i>
      <input type="password" name="password" class="form-control" required placeholder="password"/>
    </div>
    <input type="submit" value="LOGIN" class="form-control mt-5 bg-mycolor1 text-light btn1 shadow-lg">
  </div>
  </div>
  </form>
  </div>
</div>
{% endblock %}